<!--USERS COMPONENT ES PADRE DE USER-CARD COMPONENT-->
<div class="fast fadeIn container">
    <h5 class="mt-3 text-center display-4 pb-4"> Users </h5>
    <hr>
    <br>
    <div class="card-columns">
        <!--Llamar al codigo-->
        <app-user-card [PadreUser]="User" *ngFor="let User of arrayUser"></app-user-card>
        <!--Se comunicara el componente -->
        <!--Se agrega el ngFor para generar tantas card como nuestro arreglo tenga.-->
    </div>
    <br><br>
    <h5 class="mt-3 text-center display-4 pb-4"> Users Creados </h5>
    <hr><br>
    <div class="card-columns">
        <div class="card fadeIn animated shadow-sm p-3 mb-5 rounded border">
            <img class="img-thumbnail trackImg img-responsive card-img-top imgDefau" src="../../../assets/userIcon.png" alt="">
            <div class="card-body">
                <p class="card-text"><b>Id:</b> {{arrayUserC.id}}</p>
                <p class="card-text"><b>Name:</b> {{arrayUserC.name}}</p>
                <p class="card-text"><b>Job:</b> {{arrayUserC.job}}</p>
                <p class="card-text"><b>Email:</b> {{arrayUserC.email}}</p>
                <br>
                <button class="btn btn-danger"> <i class="fas fa-trash-alt"></i> </button>
            </div>
        </div>
    </div>

</div>