<div class="card fadeIn animated shadow-sm p-3 mb-5 rounded border">
    <img class="img-thumbnail trackImg img-responsive card-img-top" [src]="PadreUser.avatar" alt="">
    <div class="card-body">
        <p class="card-text"><b>Id:</b> {{PadreUser.id}}</p>
        <p class="card-text"><b>First name:</b> {{PadreUser.first_name}}</p>
        <p class="card-text"><b>Last name:</b> {{PadreUser.last_name}}</p>
        <p class="card-text"><b>Email:</b> {{PadreUser.email}}</p>
        <br>
        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i> </button>
    </div>
</div>